
.register-photo {
    background:#f1f7fc;
    padding:80px 0;
  }
  
  .register-photo .image-holder {
    display:table-cell;
    width:auto;
    background:url(https://image.ibb.co/ciMdh8/640x426.png);
    background-size:cover;
  }
  
  .register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
    padding-left: 0rem;
  }
  
  .register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding:40px;
    }
  }
  
  .register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:10px;
    margin-left: 6rem;
  }
  
  .register-photo form .form-control {
    background:#f4f6fa;
    border:#03077a;
    border-bottom:1px solid #f1f4f8;
    border-radius:0;
    box-shadow: #505e6c;
    outline:none;
    color: #6f7a85;
    text-indent:16px;
    height:40px;
    margin-top: 0.1rem; 
    font-weight: bold;
    padding-right: 1rem;
    margin-left: 6rem;
    
  }
  
  
  
  .register-photo form .btn-primary {
    background:#088bf0;
    border:none;
    border-radius:4px;
    padding:11px 60px ;
    box-shadow:none;
    margin-top:13px;
    text-shadow:none;
    outline:none !important;
    padding-right: 5.4rem;
    margin-left: 6rem;
    text-align: center;
   
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#075fdb;
  }
  
  .register-photo form .btn-primary:active {
    transform:translateY(1px);
  }
  
  .right {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
  }

  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }


  button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

  button.social-signin.Email {
    background:#9b1212;
  }
  
  button.social-signin.Google {
    background: #e9b91b;
  }
  
  button.social-signin.Facebook {
    background: #32508E;
  }
  