@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('/assets/css/anim.css');
:root {
  --lg-font: 'montserrat', sans-serif;
  --bs-btn-bg: #ee7300;
  --bs-link-color: #000 !important;
  --bs-link-hover-color: #ee7300 !important;
}
body {
  font-family: var(--lg-font);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background: #afafb4;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--bs-btn-bg);
}
.footer .col-md-3 span {
  color: var(--bs-btn-bg);
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 12px;
  display: block;
}
.btnColorPickerRow .active {
  border: 1px solid var(--bs-btn-bg);
  box-shadow: 0 0 0 4px #fff, 0 0 4px 7px var(--bs-btn-bg);
}
.btnColorPickerRow .btnColorPicker {
  border: 1px solid #ff9a1f;
}
.btnColorPickerRow .btnColorPicker:hover {
  border: 1px solid var(--bs-btn-bg);
  box-shadow: 0 0 0 4px #fff, 0 0 4px 7px var(--bs-btn-bg);
}

.footerdiv {
  font-size: 12px;
  background: #181818;
  padding: 75px 0;
  font-family: montserrat, sans-serif;
  line-height: 18px;
  color: hsla(0, 0%, 100%, 0.9);
}
/* product single */
.swiperProduct .swiper-slide img {
  display: block;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.icon_up:before {
  content: '\E91A';
}
.sliderWrpr .slickUparrow {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  z-index: 5;
}
.swiperPruduct img {
  display: block;
  width: 100%;
  object-fit: contain !important;
}
.swiperThumb .swiper-slide img {
  display: block;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.sliderWrpr .thumbSliderWrapperClass {
  max-height: 470px;
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0ms;
}
.swiperThumb .swiper-slide-thumb-active {
  opacity: 1 !important;
  border: 2px solid #51cccc;
}
.swiperThumb .swiper-slide {
  width: 100%;
  height: 100% !important;
  opacity: 0.7;
}
nav-font {
  width: -webkit-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 17px;
  display: block;
  color: #0e0e0e;
  letter-spacing: 0.07px;
  line-height: 13px;
  padding: 21px 24px;
}
#p-category > a {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 133.333%;
}

#p-category > a > img {
  position: absolute;
  width: 100%;
  top: 0px;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}
#main-discount > a {
  display: block;
  width: 100%;
  padding-top: 67.8125%;
  position: relative;
}

#main-discount > a > img {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#main-popular-h2 {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: black;
  text-align: center;
  margin: 0 0 19px;
  font-size: 16px;
}
#main-offers {
  display: flex;
  width: 90%;
  margin: 20px auto;
  text-align: center;
  justify-content: space-evenly;
}
#main-offers > div {
  height: 200px;
  line-height: 10px;
}
#main-offers > div > a > img {
  height: 80%;
  border-radius: 10px;
}
#main-offers > div > p,
.swiper-slide p {
  font-size: 12px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05px;
  margin-top: 19px;
  text-decoration: none;
}
/* .swiper-slide img:hover {
  content: '';
  display: block;
  height: 96%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
.main-slider {
  transition-duration: 0ms;
  transform: translate3d(-546.786px, 0px, 0px);
}
.main-slider a {
  display: block;
  padding-top: 35.7143%;
  position: relative;
  width: 531.786px;
  margin-right: 15px;
}
.main-slider a img {
  position: absolute;
  top: 0px;
  width: 100%;
  cursor: pointer;
  border-radius: 0px;
}

.tag-container {
  position: absolute;
  top: 0;
  width: 100%;
}
.tag-container .tag-row {
  -ms-flex: auto 0 0px;
  flex: auto 0 0;
  padding: 3px 4px 3px 8px;
  max-width: 90%;
}
.tag-container .tag-wrapper .p-tag .plp {
  font-family: montserrat, sans-serif !important;
  font-size: 8px !important;
  line-height: 10px !important;
  font-weight: 700;
  letter-spacing: 2px;
  color: #000;
}
.tag-seller {
  font-family: montserrat, sans-serif !important;
  font-size: 8px !important;
  line-height: 10px !important;
  color: #000;
}
.price {
  font-family: montserrat, sans-serif !important;
  font-size: 16px !important;
  line-height: 14px !important;
  font-weight: 700;
  letter-spacing: 2px;
}
@media only screen and (min-width: 769px) {
  .uAdRROcivfJ5x1Rmvq1zZpZ5huFzyNmdumlq32TDDQ {
    font-size: 16px;
    line-height: normal;
  }
}

.uAdRROcivfJ5x1Rmvq1zZpZ5huFzyNmdumlq32TDDQ {
  font-size: 18px;
  line-height: 15px;
  display: block;
  font-family: montserrat, sans-serif;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  text-decoration: none;
}
.price span {
  font-family: montserrat, sans-serif !important;
  font-size: 12px !important;
  line-height: 8px !important;
  font-weight: 700;
  letter-spacing: 2px;
}
.SUUMMjyNMKjvEfEyQ4gAkofxj23KSP {
  font-family: montserrat, sans-serif !important;
  font-size: 12px !important;
  line-height: 12px !important;
  font-weight: 700;
  letter-spacing: 2px;
}
/* :-ms-fullscreen */
/* #main-bestseller {
  display: flex;
  width: 98%;
  margin: 20px auto;
  text-align: center;
  justify-content: space-evenly;
}
#main-bestseller > div {
  height: 50vh;
  line-height: 10px;
}
#main-bestseller > div > a > img {
  height: 100%;
}
#main-bestseller > div > p,
.swiper-slide p {
  font-size: 12px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05px;
  margin-top: 19px;
  text-decoration: none;
} */

.swiper-pagination span {
  background: var(--bs-btn-bg);
  border-radius: 2.5px;
  width: 20px;
  height: 4px;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 95%;
  object-fit: cover;
}

.bestSellerSlider .swiper-wrapper a .wZd7LROynlc3sM2R4u2wJWSddETIfR2C img {
  display: block;
  width: 100%;
  height: 95%;
  object-fit: cover;
}
#main-view-all {
  font-size: 12px;
  font-family: montserrat, sans-serif;
  color: #42a2a2 !important;
  display: block;
  margin: 10px auto;
  letter-spacing: -0.2px;
  text-decoration: underline !important;
  text-align: center;
  outline: 0;
  padding: 10px;
}

.swiper-wrapper a {
  color: #000;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.bg-theme,
.nav-item a,
.nav-color a,
.navbar i {
  color: #ee7300 !important;
}
.btn-theme {
  --bs-btn-color: rgb(255, 255, 255) !important;
  --bs-btn-bg: #ee7300 !important;
  --bs-btn-border-color: #ee7300 !important;
  --bs-btn-hover-color: rgb(255, 255, 255) !important;
  --bs-btn-hover-bg: #ee7300 !important;
  --bs-btn-hover-border-color: #ee7300 !important;
  --bs-btn-focus-shadow-rgb: 217, 164, 6 !important;
  --bs-btn-active-color: rgb(255, 255, 255) !important;
  --bs-btn-active-bg: #ee7300 !important;
  --bs-btn-active-border-color: #ee7300 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #000 !important;
  --bs-btn-disabled-bg: #ee7300 !important;
  --bs-btn-disabled-border-color: #ee7300 !important;
}
.header-nav a {
  width: -webkit-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 17px;
  display: block;
  color: #0e0e0e;
  letter-spacing: 0.07px;
  line-height: 13px;
  padding: 21px 24px;
}
.section-image {
  background-image: url('../img/bg-banner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.product-details h3 {
  color: #4f5362;
  font-family: montserrat, sans-serif !important;
  font-size: 21px !important;
  line-height: 21px !important;
  font-weight: 600;
}
.product-details h1 {
  margin-bottom: 2px;
  font-size: 14px;
  font-family: montserrat, sans-serif;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
.product-details .price span {
  font-family: montserrat, sans-serif !important;
  font-size: 16px !important;
  line-height: 18px !important;
}
.product-details .price {
  font-family: montserrat, sans-serif !important;
  font-size: 26px !important;
  line-height: 24px !important;
  font-weight: 600;
}
.product-details .SUUMMjyNMKjvEfEyQ4gAkofxj23KSP {
  text-decoration: line-through;
  color: #949494;
  font-family: montserrat, sans-serif !important;
  font-size: 15px !important;
  line-height: 30px !important;
}
.product-details .offer {
  font-family: montserrat, sans-serif !important;
  font-size: 19px !important;
  color: #00b852;
  line-height: 24px !important;

  font-weight: 500;
}
.inclusiveOfAllTaxes {
  margin: 0px;
  font-family: montserrat, sans-serif !important;
  font-size: 12px !important;
  line-height: 0px !important;
  width: -webkit-max-content;
  width: max-content;
  color: #949494;
  padding: 0;
}
.d-fit-tags-ctr .tags-rect {
  background: #fff;
  padding: 3px 8px;
  margin: 8px 16px 8px 0;
  border: 1px solid #303030;
}
.d-fit-tags-ctr .tags-wrapper {
  width: inherit;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.d-fit-tags-ctr .tags-rect p {
  font-family: montserrat, sans-serif !important;
  font-size: 14px !important;
  line-height: 15px !important;
  font-weight: 600;
  text-transform: capitalize;
  padding: 2px;
  margin: 0;
}
.rating {
  float: left;
  padding: 3px 8px;
  border: 0.3px solid #949494;
  box-sizing: border-box;
  border-radius: 1px;
  background-color: #f7f7f7 !important;
  margin-top: 12px;
  font-family: montserrat, sans-serif !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #303030;
}
.rating span {
  font-family: montserrat, sans-serif !important;
  font-size: 16px !important;
  line-height: 17px !important;
  font-weight: 500;
}
.tribeContainer .tribeMsgWrpr {
  padding: 14px 0;
}
.tribeContainer .tribeMsg {
  line-height: normal;
}
.tribeContainer {
  font-family: montserrat, sans-serif;
  font-size: 15px;
  margin-top: 4px;
  line-height: normal;
  cursor: pointer;
  padding: 7px 0;
}
.tribeContainer:before {
  content: '';
  height: 3px;
  width: calc(100% + 30px);
  display: block;
  margin: 0 -15px;
}
.tribeContainer .tribeLearnMore {
  margin-left: 3px;
  color: #42a2a2;
}
.prodDesc .sizeBlock:before {
  content: '';
  background: #eee;
  height: 3px;
  width: calc(100% + 30px);
  display: block;
  margin: -17px -15px;
}
.clr-sz-wrap .garmentDetailsV3,
.productWrapper .detailsWrapper .prodDesc .sizeBlock .garmentDetailsV3 {
  font-family: montserrat, sans-serif;
  color: #000;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: normal;
  margin: 7px 0;
}
@media screen and (min-width: 769px) {
  .clr-sz-wrap .garmentDetailsV3,
  .productWrapper .detailsWrapper .prodDesc .sizeBlock .garmentDetailsV3 {
    font-size: 12px;
  }
}
.clr-sz-wrap .garmentDetailsV3 .garmentType,
.productWrapper .detailsWrapper .prodDesc .sizeBlock .garmentDetailsV3 .garmentType {
  text-transform: capitalize;
}
.clr-sz-wrap .garmentDetailsV3 ul,
.productWrapper .detailsWrapper .prodDesc .sizeBlock .garmentDetailsV3 ul {
  border-right: 1px solid #979797;
  padding: 0 5px;
}
.clr-sz-wrap .garmentDetailsV3 ul:last-child,
.productWrapper .detailsWrapper .prodDesc .sizeBlock .garmentDetailsV3 ul:last-child {
  border-right: 0;
}
.clr-sz-wrap .garmentDetailsV3 .specificationName,
.productWrapper .detailsWrapper .prodDesc .sizeBlock .garmentDetailsV3 .specificationName {
  color: #878787;
  margin-right: 5px;
}
.prodDesc .sizeBlock {
  padding: 10px 0 0;
  margin-bottom: 12px;
}
.prodDesc .sizeBlock:before {
  content: '';
  background: #eee;
  height: 3px;
  width: calc(100% + 30px);
  display: block;
  position: absolute;
  margin: -17px -15px;
}
@media screen and (min-width: 769px) {
  .prodDesc .sizeBlock {
    margin-bottom: 32px;
  }
  .prodDesc .sizeBlock:before {
    width: 100%;
    margin: -17px 0;
  }
}
.prodDesc .sizeBlock .colorDivV3 {
  font-family: montserrat, sans-serif;
  width: auto;
  height: auto;
  border-radius: 0;
}
.prodDesc .sizeBlock .colorDivV3 .colorName {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .prodDesc .sizeBlock .colorDivV3 {
    max-width: unset;
    width: 100%;
  }
  .prodDesc .sizeBlock .colorDivV3 .colorName {
    font-size: 11px;
    padding: 5px 0 0;
  }
  .prodDesc .sizeBlock .colorDivV3 .colorName label {
    text-transform: uppercase;
    color: #000;
    display: inline-block !important;
    margin: 0;
  }
}
.prodDesc .sizeBlock .designerBnrWrpr {
  width: 100%;
  float: left;
  padding-top: 12px;
}
.prodDesc .sizeBlock .designerBnrWrpr:before {
  content: '';
  background: #eee;
  height: 3px;
  width: calc(100% + 30px);
  display: block;
  position: absolute;
  margin: 0 -15px;
}
@media screen and (min-width: 769px) {
  .prodDesc .sizeBlock .designerBnrWrpr:before {
    width: 100%;
    margin: -8px 0;
  }
}
.prodDesc .mobileCoverCare {
  list-style: inside;
  color: rgba(0, 0, 0, 0.4);
}
.prodDesc .mobileCoverCare:before {
  content: '';
  background: #eee;
  height: 3px;
  width: calc(100% + 30px);
  display: block;
  position: absolute;
  margin: -16px -15px;
}
@media screen and (min-width: 769px) {
  .prodDesc .mobileCoverCare:before {
    width: 100%;
    margin: -16px 0;
  }
}
.prodDesc .mobileCoverCare li {
  margin-bottom: 15px;
}
.prodDesc .mDealWrapper {
  padding: 0 15px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .prodDesc .mDealWrapper {
    padding: 0;
    position: static;
    width: auto;
  }
}
.prodDesc .productRatingsWrpr:before {
  content: '';
  background: #eee;
  height: 3px;
  width: calc(100% + 30px);
  display: block;
  position: absolute;
  margin: -10px -15px;
}
@media only screen and (min-width: 769px) {
  .prodDesc .productRatingsWrpr {
    margin-top: 18px;
  }
  .prodDesc .productRatingsWrpr:before {
    width: 100%;
    margin: -12px 0;
  }
}
.prodDesc .checkCod {
  color: #2d2d2d;
  border-bottom: unset;
}
.prodDesc .checkCod input::-webkit-inner-spin-button,
.prodDesc .checkCod input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.prodDesc .checkCod .codInput {
  float: left;
  width: 110px;
  height: 32px;
  font-size: 12px;
  font-family: montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.4);
  outline: none;
  border: 1px solid #e6e6e6;
}
.prodDesc .checkCod .codInput ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.prodDesc .multiColorBlockV3 {
  height: 35px;
  width: 35px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  margin: 8px;
}
@media screen and (min-width: 769px) {
  .prodDesc .multiColorBlockV3 {
    height: 42px;
    width: 42px;
    float: left;
    margin: 0 13px 13px 0;
  }
}
.prodDesc .multiColorBlockV3.active {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, 0 0 4px 7px #51cccc;
}

.prodDesc .sectionBrdrBtm:after {
  content: '';
  background: #eee;
  height: 3px;
  width: calc(100% + 30px);
  display: block;
  position: absolute;
  margin: -5px -15px;
}
@media screen and (min-width: 769px) {
  .prodDesc .sectionBrdrBtm:after {
    width: 100%;
    margin: -5px 0;
  }
}
.prodDesc .multiColorElement {
  display: -ms-grid;
  display: grid;
  background-size: 100%;
}
.prodDesc .sizeWrapper {
  border: none !important;
  padding: 0 !important;
}
@media screen and (max-width: 991px) {
  .prodDesc .sizeWrapper .qtyBlock {
    padding-top: 6px;
    margin: 0;
  }
}
@media screen and (min-width: 769px) {
  .prodDesc .sizeOuterWrapper {
    margin-top: 0 !important;
  }
}
.prodDesc .prodDealTimer {
  margin: 6px 0;
  display: inline-block;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px 16px;
  font-family: montserrat, sans-serif;
  background: transparent;
  opacity: 0.7;
  font-size: 12px;
  border: 2px dotted #fdd835;
}
.prodDesc .prodDealTimer span {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: montserrat, sans-serif;
}
@media screen and (max-width: 768px) {
  .prodDesc .prodDealTimer span {
    font-family: montserrat, sans-serif;
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  .prodDesc .prodDealTimer {
    margin: 8px 0 0;
    vertical-align: top;
    float: right;
    padding: 2px 8px;
  }
}
@media screen and (max-width: 991px) {
  .prodDesc .prodDealTimer {
    padding: 2px 8px;
    float: left;
    display: block;
  }
}
.noPd,
.noPdSm {
  padding: 0;
}
@media (min-width: 769px) {
  .noPdRight {
    padding-right: 0;
  }
  .noPdSm {
    padding: 0;
  }
}
.prodDesc .sizeBlock .colorDivV3 .colorName {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .prodDesc .sizeBlock .colorDivV3 {
    max-width: unset;
    width: 100%;
  }
  .prodDesc .sizeBlock .colorDivV3 .colorName {
    font-size: 11px;
    padding: 5px 0 0;
  }
  .prodDesc .sizeBlock .colorDivV3 .colorName label {
    text-transform: uppercase;
    color: #000;
    display: inline-block !important;
    margin: 0;
  }
}
.producMainWrpr .multiColorBoxV3 {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .producMainWrpr .multiColorBoxV3 {
    margin: 7px 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .sizeWrapper {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 0 0 !important;
    margin: 0;
  }
}
.sizeWrapper .selectSize {
  padding: 10px 0 7px;
}
@media screen and (max-width: 768px) {
  .sizeWrapper .selectSize {
    padding-bottom: 0;
  }
}
.sizeWrapper .selectSize .eachSize {
  margin-top: 0 !important;
  float: left;
  font-size: 14px;
  color: #000;
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 4px 5px 0;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  line-height: 45px;
}
@media screen and (max-width: 768px) {
  .sizeWrapper .selectSize .eachSize {
    width: 45px;
    height: 45px;
    line-height: 43px;
    margin-right: 10px;
  }
}
.sizeWrapper .selectSize .eachSize span {
  display: block;
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
}
.sizeWrapper .selectSize .eachSize:hover,
.sizeWrapper .selectSize .eachSize:hover span {
  border-color: #4acccd;
}
.sizeWrapper .selectSize .disableSize,
.sizeWrapper .selectSize .disableSizeV3 {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f5f5f5;
  box-shadow: none;
  text-decoration: line-through;
  pointer-events: none;
  border: 1px solid #cecece;
}
.sizeWrapper .selectSize .disableSizeV3 {
  color: #cecece;
  text-decoration: none !important;
  background-color: transparent !important;
  border: 1px solid #cecece;
}
.sizeWrapper .selectSize .activeSize {
  border: 1px solid #4acccd;
  background-color: #000;
  color: #fff;
}
.sizeWrapper .selectSize .activeSize span {
  border: none;
  font-family: montserrat, sans-serif;
}
.exchangeSizeWrapper {
  border-top: 5px solid rgba(0, 0, 0, 0.04);
  padding: 0;
  display: inline-block;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .exchangeSizeWrapper {
    border-top: 2px solid rgba(0, 0, 0, 0.04);
    margin: 0;
    padding: 10px 0 20px !important;
  }
}
.exchangeSizeWrapper .sizeOuterWrapper {
  margin-top: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .exchangeSizeWrapper .sizeOuterWrapper {
    margin-top: 10px;
  }
}
.exchangeSizeWrapper .sizeOuterWrapper .selectSizeTitle {
  font-size: 14px;
  font-family: montserrat, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}
.selectSizeTitle {
  font-size: 14px;
  font-family: montserrat, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}
@media (min-width: 769px) {
  .mainHeading span {
    font-size: 24px;
  }
}
.mainHeading span {
  color: #949494;
  padding-left: 10px;
  font: 16px montserrat, sans-serif;
  line-height: normal;
}
.mainHeading .headingInner div {
  width: 117px;
  height: 2px;
  background-color: #fbd139;
  display: block;
  margin: 6px 0 0 2px;
}
.cart-story-tribe .cart-story-tribe-text {
  line-height: 1.33;
}
.cart-story-tribe .cart-story-tribe-text p {
  font-size: 18px !important;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  padding-right: 15px;
}
.cart-story-tribe .cart-story-tribe-text small {
  font-size: 14px !important;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  padding-right: 15px;
}
@media (max-width: 500px) {
  .cart-story-tribe .cart-story-tribe-text small {
    font-size: 12px !important;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    padding-right: 15px;
  }
}
@media (max-width: 400px) {
  .cart-story-tribe .cart-story-tribe-text small {
    font-size: 10px !important;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    padding-right: 15px;
  }
}
@media (max-width: 300px) {
  .cart-story-tribe .cart-story-tribe-text small {
    font-size: 7px !important;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    padding-right: 15px;
  }
}
@media (max-width: 400px) {
  .reedem-text {
    font-size: 9px !important;
    font-family: montserrat, sans-serif;
    position: absolute;
    font-family: montserrat, sans-serif;
    font-weight: 700;
    left: -40px;
    top: 7px;
    bottom: 0;
  }
}
.reedem-heading {
  font-size: 12px;
  font-family: montserrat, sans-serif;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.reedem-text {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #42a2a2;
}
.cart-story-tribe .cart-story-tribe-text p strong {
  font-family: montserrat, sans-serif;
}
.cart-story-tribe {
  cursor: pointer;
  border-radius: 5px;
  background-color: #fdd835;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 18px 0 15px;
  margin-bottom: 15px;
}
.headingInner h1 {
  font: 700 16px montserrat, sans-serif;
  font-weight: 700;
  color: #2d2d2d;
  font-size: 24px;
}
.productCardBox {
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .productCardBox {
    margin-bottom: 0;
    width: 100%;
  }
}
.productPromoMsg {
  font-size: 13px;
  font-family: montserrat, sans-serif;
  color: #fa4c00;
  line-height: 13px;
  font-weight: 500;
}
.rmv-action {
  padding: 18px 0;
  width: 35%;
  border: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.04) !important;
  cursor: pointer;
  font-size: 14px;
  background: transparent;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.add-w-action {
  padding: 18px 0;
  width: 65%;
  cursor: pointer;
  border: 0;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-size: 14px;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
}
.productImgTag {
  width: 104px;
  height: 130px;
  min-width: 104px;
}
.offerBox {
  margin-bottom: 15px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  color: rgb(45, 45, 45);
  font-family: Montserrat;
  line-height: 1.44;
  font-size: 16px;
  padding: 5px 15px;
}
.productImgTag a {
  display: block;
}
.productImgTag a img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.productCardBox .productCardImg {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.productCardBox .productCardImg .productImgTag {
  object-fit: cover;
}
.productCardBox .productCardImg .productImgTag:hover {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.7s;
}
.productCardBox .productCardImg .productImg:hover {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.7s;
}
.summary_text {
  font-family: montserrat, sans-serif !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-weight: 400;
}
.savingLabel_cart {
  background: rgba(253, 216, 53, 0.3);
  border-radius: 14px;
  padding: 6px 10px;
  margin-top: 5px;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  font-family: montserrat, sans-serif;
}
.add_address {
  float: right;
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
  background: #42a2a2;
  border-radius: 5px;
  font-size: 16px;
  font-family: montserrat, sans-serif;
  line-height: 18px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  border: none;
  clear: both;
}
.sub_total {
  font-family: montserrat, sans-serif;
  display: table-cell;
  vertical-align: middle;
  font-weight: 500;
}
.sub_total p {
  font-size: 14px;
  margin: 0;
}
.sub_total span {
  font-size: 13px;
  margin: 0;
}

.productCardBox .productCardImg .productImgTag:first-child {
  display: block;
}
.productCardBox .productCardImg .productImgTag:last-child {
  display: block;
  position: absolute;
  top: 0;
}
.productCardBox .productCardImg .productStatusBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px 0;
  width: 100%;
}
@media (max-width: 768px) {
  .productCardBox .productCardImg .productStatusBox {
    padding: 5px 0;
  }
}
.productCardBox .productCardImg .productStatusBox .sellingFestBox {
  background-color: hsla(0, 0%, 100%, 0.7);
  padding: 8px;
  border-radius: 2px;
  font-size: 10px;
  color: #000;
  font-family: montserratsans-serif;
  text-transform: uppercase;
  float: left;
  margin-top: 7px;
}
@media (max-width: 768px) {
  .productCardBox .productCardImg .productStatusBox .sellingFestBox {
    padding: 5px;
    font-size: 9px;
    margin-top: 6px;
  }
}
.productCardBox .productCardImg .productStatusBox .wishProduct {
  background-color: hsla(0, 0%, 100%, 0.7);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  display: block;
  float: right;
  font-size: 20px;
  cursor: pointer;
  position: unset;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .productCardBox .productCardImg .productStatusBox .wishProduct {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
}
.productCardBox .productCardImg .productStatusBox .wishProduct i {
  transition: all 0.2s ease-in 0s;
  -ms-transform: scale(1);
  transform: scale(1);
  display: block;
  line-height: 42px;
  font-size: 18px;
}
@media (max-width: 768px) {
  .productCardBox .productCardImg .productStatusBox .wishProduct i {
    line-height: 32px;
  }
}
.productCardBox .productCardImg .productStatusBox .wishProduct i:hover {
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.productCardBox .productCardImg .productStatusBox .wishProduct i.icon_wishlist {
  color: #7e7e7e;
}
.productCardBox .productCardImg .productStatusBox .wishProduct i.icon_wishlist_filled {
  color: #fbd249;
}
.productCardBox .productCardImg .bottomTag {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}
.productCardBox .productCardImg .productRatingBox {
  width: 40px;
  height: 20px;
  padding: 4px;
  margin-bottom: 8px;
  margin-right: 8px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: 1px solid #eaeaec;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-weight: 600;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 4px;
}
.productCardBox .productCardImg .productRatingBox .productRating {
  font-family: montserrat, sans-serif;
  font-size: 10px;
  font-weight: 600;
}
.productCardBox .productCardImg .productRatingBox .productRatingStar {
  height: 8px;
  width: 8px;
}
.productCardBox .productCardImg .productTypeBox {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px;
}
.productCardBox .productCardImg .productTypeBox p {
  font-size: 10px;
  font-family: montserratsans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.8px;
}
@media (max-width: 768px) {
  .productCardBox .productCardImg .productTypeBox p {
    font-size: 9px;
  }
}
.productCardBox .productCardImg .soldoutItem {
  background-color: hsla(0, 0%, 100%, 0.7);
}
.productCardBox .productCardImg .soldoutItem p {
  font-family: montserrat, sans-serif;
  color: #000;
}
@media (max-width: 768px) {
  .productCardBox .soldOutBox .productImgTag {
    opacity: 0.5;
  }
  .productCardBox .soldOutBox .sellingFestBox {
    display: none;
  }
}
.cart-story-tribe .icon_next_one {
  animation: slide_one 2s infinite;
}
.cart-story-tribe .icon_next_two {
  animation: slide_two 2s infinite;
}
.cart-story-tribe i {
  font-size: 12px;
}

.cart-story-tribe .cart-story-tribe-text {
  line-height: 1.33;
}
.productCardBox .hideProductName {
  max-height: 50px !important;
  min-height: 50px !important;
}
.productCardBox .hideProductName.on-sep {
  min-height: 24px !important;
}
.productCardBox .productCardDetail {
  width: 100%;
  padding: 8px 0 0;
  max-height: 100px;
  min-height: 80px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .productCardBox .productCardDetail {
    max-height: 100px;
    min-height: 80px;
    padding: 4px 8px 0;
  }
}
.productCardBox .productCardDetail .productNaming {
  -ms-flex: 1;
  flex: 1;
}
.productCardBox .productCardDetail .productNaming .brand-name {
  color: #4f5362;
  font-family: montserrat, sans-serif !important;
  font-size: 15px !important;
  font-weight: 700;
  line-height: 15px !important;
}
.productCardBox .productCardDetail .productNaming .h3-p-name {
  margin-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: montserrat, sans-serif !important;
  font-size: 12px !important;
  line-height: 12px !important;
}
.productCardBox .productCardDetail .productNaming .product-title {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 768px) {
  .productCardBox .productCardDetail .productNaming .brand-name {
    font-family: montserrat, sans-serif !important;
    font-size: 10px !important;
    line-height: 15px !important;
  }
  .productCardBox .productCardDetail .productNaming .h3-p-name {
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: montserrat, sans-serif !important;
    font-size: 8px !important;
    line-height: 10px !important;
  }
}
.productCardBox .productCardDetail h3 {
  font-size: 12px;
  font-family: montserrat, sans-serif;
  color: #2d2d2d;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal;
}
@media (max-width: 768px) {
  .productCardBox .productCardDetail h3 {
    font-size: 12px;
  }
}
.productCardBox .productCardDetail #productTitle {
  opacity: 0.56;
  margin-top: 2px;
  font-weight: 500;
}
.productCardBox .productCardDetail .productPriceBox {
  margin-top: 6px;
}
@media (max-width: 768px) {
  .productCardBox .productCardDetail .productPriceBox {
    margin-top: 3px;
  }
}
.productCardBox .productCardDetail .productPriceBox .discountedPriceText {
  font-family: montserrat, sans-serif !important;
  font-size: 18px !important;
  line-height: 14px !important;
  font-weight: 600;
}
.productCardBox .productCardDetail .productPriceBox .discountedPriceText span {
  font-family: montserrat, sans-serif !important;
  font-size: 15px !important;
  line-height: 8px !important;
  font-weight: 600;
}
@media (max-width: 768px) {
  .productCardBox .productCardDetail .productPriceBox .discountedPriceText {
    font-family: montserrat, sans-serif !important;
    font-size: 12px !important;
    line-height: 18px !important;
  }
  .productCardBox .productCardDetail .productPriceBox .discountedPriceText span {
    font-size: 10px !important;
    line-height: normal !important;
    font-weight: 600;
  }
}
.productCardBox .productCardDetail .productPriceBox .actualPriceText {
  padding-left: 5px;
  text-decoration: line-through;
  font-family: montserrat, sans-serif !important;
  font-size: 9px !important;
  line-height: 15px !important;
  font-weight: 500;
}
@media (min-width: 769px) {
  .productCardBox .productCardDetail .productPriceBox .actualPriceText {
    font-family: montserrat, sans-serif !important;
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight: 500;
  }
}
.productCardBox .productCardDetail .productPriceBox .discountPercentText {
  color: #fd0505;
  font-size: 13px;
  padding-left: 5px;
}
.productCardBox .productCardDetail .productPriceBox .discountPercentText-v2 {
  padding-left: 8px;
  font-family: montserrat, sans-serif !important;
  font-size: 9px !important;
  line-height: 15px !important;
}
@media (min-width: 769px) {
  .productCardBox .productCardDetail .productPriceBox .discountPercentText-v2 {
    font-family: montserrat, sans-serif !important;
    font-size: 12px !important;
    line-height: 12px !important;
  }
}
.productCardBox .productCardDetail .useCoinIcon {
  display: block;
  width: 16px;
  line-height: 16px;
  overflow: hidden;
  color: #000;
  right: 0;
  top: 3px;
  position: absolute;
}
@media (min-width: 769px) {
  .productCardBox .productCardDetail .useCoinIcon {
    line-height: normal;
    width: 20px;
    top: 6px;
  }
}
.productCardBox .productCardDetail .useCoinIcon img {
  max-width: 100%;
}
.productCardBox .productCardDetail .wishListProduct-v2 {
  cursor: pointer;
  margin-right: 4px;
}
.productCardBox .productCardDetail .wishListProduct-v2 .wishlist-icon-animate:active {
  animation: animate_wishlist 1s linear;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .productCardBox .productCardDetail .wishListProduct-v2 {
    margin-right: 0;
    height: 24px;
    width: 24px;
  }
}
.productCardBox .productCardDetail .loyalty-stock-wrap .loyaltyPriceBox {
  margin: 0;
  background-color: #f7f7f7;
  color: #525252;
  padding: 3px 8px;
  font-size: 10px;
  font-weight: 500;
}
.productCardImg:hover .productImg:before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.loyaltyPriceBox {
  width: 100%;
  height: auto;
  background-color: hsla(0, 0%, 92.9%, 0.6);
  border-radius: 2px;
  padding: 5px 2px 5px 0;
  float: left;
  position: relative;
  margin-top: 4px;
}
@media (max-width: 768px) {
  .loyaltyPriceBox {
    margin-bottom: 4%;
  }
}
.loyaltyPriceBox h6 {
  font-size: 9px;
  line-height: 10px;
}
.loyaltyPriceBox h5,
.loyaltyPriceBox h6 {
  font-family: montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.81);
  float: left;
  margin-left: 2px;
}
.loyaltyPriceBox h6 b {
  padding-right: 3px;
}
.loyaltyPriceBox h5 b,
.loyaltyPriceBox h6 b {
  font-family: montserrat, sans-serif;
}
@media (min-width: 769px) {
  .productCardBox .productCardDetail .loyalty-stock-wrap {
    margin-top: 8px;
  }
}
@media (max-width: 768px) {
  .productCardBox .pdt-card-h {
    min-height: 72px;
  }
}
.mainHeading span {
  color: #949494;
  padding-left: 10px;
  font: 16px montserrat, sans-serif;
  line-height: normal;
}
@media (min-width: 769px) {
  .mainHeading span {
    font-size: 24px;
  }
}
.btnProductPage {
  font-size: 18px !important;
  font-family: montserrat, sans-serif !important;
  line-height: 18px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  color: #000 !important;
}
@media screen and (max-width: 768px) {
  .exchangeSizeWrapper .sizeOuterWrapper .selectSizeTitle {
    font-size: 11px;
  }
}
.exchangeSizeWrapper .sizeOuterWrapper .sizeQtyError {
  margin-left: 5px;
  color: #db3236;
}
.exchangeSizeWrapper .sizeOuterWrapper .sizeGuidRight .sizeChart {
  font-size: 15px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .exchangeSizeWrapper .sizeOuterWrapper .sizeGuidRight .sizeChart {
    font-size: 12px;
  }
}
.exchangeSizeWrapper .selectSize .eachSize {
  margin-top: 15px;
  width: 48px;
  height: 48px;
  margin-right: 9px;
}
@media screen and (max-width: 768px) {
  .exchangeSizeWrapper .selectSize .eachSize {
    width: 45px;
    height: 45px;
  }
}
.exchangeSizeWrapper .selectSize .eachSize:hover,
.exchangeSizeWrapper .selectSize .eachSize:hover span {
  border-color: #42a2a2;
}
.exchangeSizeWrapper.v3 .selectSize .eachSize {
  font-size: 12px !important;
}
.exchangeSizeWrapper.v3 .selectSize .eachSize:hover span {
  border: none;
}
.exchangeSizeWrapper .selectSize .activeSize {
  border: 1px solid #42a2a2;
}
.exchangeSizeWrapper .selectSize .activeSize span {
  border-color: #42a2a2;
}
.exchangeSizeWrapper .qtyBlock {
  margin-bottom: 6px;
}
.exchangeSizeWrapper .qtyBlock select {
  float: left;
  border-color: rgba(0, 0, 0, 0.6) !important;
  width: 80px;
}
.exchangeSizeWrapper .qtyBlock .qtyLabel {
  float: left;
  color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  width: 50px;
  border: none;
}
.exchangeSizeWrapper .garmentDetailsV3 {
  font-family: montserrat, sans-serif;
  font-size: 12px;
  color: #000;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: normal;
  margin: 7px 0;
}
@media screen and (min-width: 769px) {
  .exchangeSizeWrapper .garmentDetailsV3 {
    font-size: 13px;
  }
}
.exchangeSizeWrapper .garmentDetailsV3 .garmentType {
  text-transform: capitalize;
}
.exchangeSizeWrapper .garmentDetailsV3 ul {
  border-right: 1px solid #979797;
  padding: 0 5px;
}
.exchangeSizeWrapper .garmentDetailsV3 ul:last-child {
  border-right: 0;
}
.exchangeSizeWrapper .garmentDetailsV3 .specificationName {
  color: #878787;
  margin-right: 5px;
}
.exchangeSizeWrapper.v3 {
  border-top: none !important;
  padding: 20px 0 0 !important;
}
.exchangeSizeWrapper.v3 .selectSizeTitle {
  font-size: 14px !important;
  font-family: montserrat, sans-serif;
  text-transform: none !important;
}
.exchangeSizeWrapper.v3 .selectSize .eachSize {
  font-size: 12px !important;
}
.exchangeSizeWrapper.v3 .selectSize .eachSize:hover span {
  border: none;
}
.exchangeSizeWrapper.v3 .selectSize .activeSize {
  border-radius: 5px;
  border: 1px solid #000;
}
.exchangeSizeWrapper.v3 .selectSize .disableSizeV3 {
  color: #cecece;
  text-decoration: none !important;
  background-color: transparent !important;
}
.exchangeSizeWrapper.v3 .selectSize .disableSizeV3 span {
  border: none !important;
}
.sizeChartDiv {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  float: left;
}
.sizeChartDiv .sizeChart {
  padding: 0;
  font-family: montserrat, sans-serif;
  text-decoration: underline;
  font-size: 12px;
  color: #42a2a2;
}
.sizeChartWrapper iframe {
  max-height: 85vh;
}
@media screen and (max-width: 768px) {
  .sizeChartWrapper iframe {
    max-height: 100vh;
  }
}
.zoomModal .zoomStrip .zoomStripContent .sizes .eachSize.activeSize,
.zoomModal .zoomStrip .zoomStripContent .sizes .eachSize:hover {
  border: 1px solid #6ff;
  color: #6ff;
}
.zoomModal .zoomStrip .zoomStripContent .sizes .eachSize.disabled,
.zoomModal .zoomStrip .zoomStripContent .sizes .eachSize.disableSize,
.zoomModal .zoomStrip .zoomStripContent .sizes .eachSize[disabled] {
  cursor: not-allowed;
  color: hsla(0, 0%, 100%, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;
  pointer-events: none;
}
.drawing-area {
  position: absolute;
  top: 60px;
  left: 122px;
  z-index: 10;
  width: 200px;
  height: 400px;
}

.canvas-container {
  width: 200px;
  height: 400px;
  position: relative;
  user-select: none;
}

#tshirt-div {
  width: 452px;
  height: 548px;
  position: relative;
  background-color: #fff;
}

#canvas {
  position: absolute;
  width: 200px;
  height: 400px;
  left: 0px;
  top: 0px;
  user-select: none;
  cursor: default;
}
#right-part > .input-group {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
.inputhead {
  border: 0.5px solid #979797 !important;
  border-radius: 5px !important;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  padding: 2%;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .form-control,
.input-group > .form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
/* .form-control-none {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */
#produc-listng > div > a {
  text-decoration: none;
}
#total-items-cart {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  font-family: montserrat, sans-serif;

  margin-top: 40px;
}
.df-wrap {
  height: 50px;
  margin-bottom: 20px;
}
.df-wrap .df-inner {
  height: 100%;
  border-radius: 5px;
  background-color: #fcffee;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.df-wrap .df-inner p {
  margin-left: 43px;
  font-family: montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.vq3wCE45Mr1b {
  margin-bottom: 6px;
}
.vq3wCE45Mr1b .nCO9izgeR4DFi5JOQSiMUfkaYFW9qhpE9RF3gpleowQ {
  font-family: montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}
.vq3wCE45Mr1b .AS6Jdr40MwTS {
  color: rgba(45, 45, 45, 0.5);
  position: relative;
  font-family: montserrat, sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.vq3wCE45Mr1b .AS6Jdr40MwTS:after {
  content: ' ';
  display: block;
  background: rgba(45, 45, 45, 0.5);
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
}

.Ad6f {
  font-size: 16px;
  color: #1d8802;
  padding: 3px 0 10px;
  font-family: montserrat, sans-serif;
  font-weight: 500;
}

.KwIyuQ9G6E8ljOqwgozK6cup8Wa6NjVritWt844 {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.prod-row {
  padding: 20px 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.df-wrap .df-inner .df-img {
  position: absolute;
  width: 19px;
  height: 12px;
  left: 15px;
  animation: truckMoveAnim 2s ease-in-out;
}
.input {
  font-family: montserrat, sans-serif;
  font-size: 18px !important;
  border: 0 !important;
  font-weight: 700 !important;
}
.input:focus {
  background-color: transparent !important;
  border: 0 !important;
}
.countrycode {
  font-family: montserrat, sans-serif;
  font-size: 14px !important;
  border: 0 !important;
  font-weight: 700 !important;
}
.input:after {
  background-color: transparent !important;
  border: 0 !important;
}
.LaSYnb .zzUVz {
  padding: 0 0 10px;
  color: #181818;
  text-align: center;
}
.LaSYnb {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .LaSYnb .zzUVz {
    padding: 0 0 18px;
  }
}
@media only screen and (min-width: 769px) {
  .LaSYnb .zzUVz hr {
    width: 110%;
    margin: 0 0 -10px -5%;
  }
}
.LaSYnb .zzUVz hr {
  margin: 0 0 -7px;
  background: #cecece;
}

@media only screen and (min-width: 769px) {
  .LaSYnb .zzUVz .socialHeading {
    font-size: 16px;
  }
}
.LaSYnb .zzUVz .socialHeading {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-family: montserrat, sans-serif;
  background: #fff;
  font-weight: 700;
  padding: 0 7px;
}
.LaSYnb .GrHDIp4XD69UXMt {
  width: 100%;
  padding-top: 8%;
  font-size: 13px;
  letter-spacing: 1px;
}
@media (min-width: 769px) {
  .LaSYnb .GrHDIp4XD69UXMt {
    padding: 20px 20px 0;
  }
}

@media (min-width: 769px) {
  .LaSYnb .GrHDIp4XD69UXMt button {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.LaSYnb .GrHDIp4XD69UXMt button {
  height: 39px;
  border-radius: 5.8px;
  border: 1px solid #aeaeae;
  background: #fff;
  color: #5c5c5c;
  font-size: 11px;
  font-family: montserrat, sans-serif;
  width: 100%;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.LaSYnb .GrHDIp4XD69UXMt .c94vb3JmwZXCGzZtP5 {
  display: -ms-flexbox;
  display: flex;
}
.loginWrapper .login-signup-body .termsAndConditions {
  font-size: 12px;
  font-family: montserrat, sans-serif;
  color: #a0a0a0;
  line-height: 20px;
  margin-top: 15px;
}
.inputSubmit {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 5px;
  outline: none;
  letter-spacing: 0.5px;
  background-color: #42a2a2;
  font-size: 16px;
  font-family: montserrat, sans-serif;
  color: #fff;
  text-transform: uppercase;
}
/* profile */
.accProfileForm {
  max-width: 400px;
  width: 100%;
}
input[type='text' i] {
  padding: 1px 2px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.inputgroup {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 45px;
}
.inputgroup input,
.inputgroup select {
  width: 100%;
  height: 29px;
  padding: 5px 0;
  font-size: 14px;
  outline: none;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  border-radius: 0;
  background: none;
  box-shadow: none;
  display: block;
  -webkit-appearance: none;
  line-height: normal;
}
.inputgroup .bar {
  position: relative;
  display: block;
  width: 100%;
}
.inputgroup .bar:before {
  left: 50%;
}
.inputgroup .bar:after,
.inputgroup .bar:before {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #181818;
  transition: all 0.1s ease;
}
.inputgroup label {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  color: #181818;
  position: absolute;
  left: 0;
  top: 7px;
  pointer-events: none;
  transition: all 0.1s ease;
}

.inputgroup .msgs {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0.9;
  white-space: nowrap;
  padding: 6px 0;
  font-size: 12px;
  font-family: montserrat, sans-serif;
}
.inputgroup input[readonly],
.inputgroup select[readonly] {
  color: #999;
  cursor: default;
  pointer-events: none;
}
.inputgroup input,
.inputgroup select {
  width: 100%;
  height: 29px;
  padding: 5px 0;
  font-size: 14px;
  outline: none;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  border-radius: 0;
  background: none;
  box-shadow: none;
  display: block;
  -webkit-appearance: none;
  line-height: normal;
}

.inputgroup input:focus ~ label,
.inputgroup input:not([value='']) ~ label {
  top: -10px;
  font-size: 11px;
}
.xgroup input:focus ~ label,
.xgroup input:not([value='']) ~ label {
  top: -10px;
  font-size: 11px;
}
.inputgroup input[readonly],
.inputgroup select[readonly] {
  color: #999;
  cursor: default;
  pointer-events: none;
}
.inputgroup .inputHelp {
  display: block;
  margin: 15px 0 -15px;
  color: #51cccc;
  font-family: montserrat-regular, sans-serif;
  font-size: 14px;
}

.inputgroup .countryCode {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: 14px;
  display: none;
}
.inputgroup .countryCode span {
  padding: 4px;
  color: #bcbcbc;
}
.veryfyMobile {
  right: 0;
  top: 0;
}
.verifyMobileBox {
  position: absolute;
  top: -5px;
  margin-top: 5px;
}
.veryfyMobileOuter {
  width: 100%;
}
.verifyPhoneInput {
  color: #969696;
}
.verifyMobileBox p {
  height: 20px;
  width: 20px;
  background: #51cccc;
  border-radius: 50%;
  text-align: center;
}
[class*=' icon_'],
[class*='icon_'] {
  font-family: icomoon !important;
  speak-as: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon_tick:before {
  content: '\E93C';
}
.genderTabBox {
  margin-bottom: 30px;
}
.addrTypeTitle {
  float: left;
  width: 100%;
  margin: -10px 0 10px;
  opacity: 0.6;
  font-size: 10px;
}
.addrTypeList {
  float: left;
  border: 1px solid #8c8c8c;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
.addrSubType:not(:last-child) {
  border-right: 1px solid #8c8c8c;
}
.addrSubType {
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
}
.addrSubType input[type='radio'] {
  display: none;
}
.addrSubType:not(:last-child) {
  border-right: 1px solid #8c8c8c;
}

.addrSubType label {
  float: left;
  padding: 7.5px 20px;
  margin: 0;
  font-size: 13px;
  font-family: montserrat-regular, sans-serif;
  text-transform: capitalize;
  color: #181818;
  cursor: pointer;
}
@media only screen and (min-width: 769px) {
  .wtsapp-tgl {
    font-size: 14px;
    margin: 5px 0 20px;
  }
}
.wtsapp-tgl {
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  margin: 0 0 10px;
  font-size: 12px;
}

.wtsapp-tgl .selectCheckbox {
  float: none;
  margin: 0 10px 0 0;
}
.selectCheckbox input[type='radio'] {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.selectCheckbox {
  position: relative;
  float: right;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}
.selectCheckbox label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.wtsapp-tgl .selectCheckbox input:checked + label:after,
.wtsapp-tgl .selectCheckbox label:before {
  border-radius: 5px !important;
}
.selectCheckbox label:before {
  content: '';
  display: block;
  border: 1px solid #bdbdbd;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.selectCheckbox.selectCheckbox-blue input:checked + label:after {
  background: #51cccc;
}
.wtsapp-tgl .selectCheckbox input:checked + label:after {
  background-color: #42a2a2;
}
.wtsapp-tgl .selectCheckbox input:checked + label:after,
.wtsapp-tgl .selectCheckbox label:before {
  border-radius: 5px !important;
}
.selectCheckbox input:checked + label:after {
  content: '\E93C';
  font-family: icomoon;
  background: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media only screen and (min-width: 769px) {
  .accProfileForm .submit,
  .submit {
    float: left;
    position: static !important;
    width: auto;
    margin-bottom: 20px;
  }
}
.accProfileForm .submit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  border: 1px solid #51cccc;
  background-color: #51cccc;
  letter-spacing: 1px;
  color: #fff;
  z-index: 1;
  margin: 0;
}
.submit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #51cccc;
  background-color: #51cccc;
  letter-spacing: 1px;
  color: #fff;
}
.addrSubType label.active {
  background: var(--bs-btn-bg);
}
.emptyPage {
  background: #fff;
  margin: 0 auto 10px;
  padding: 80px 0;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  min-height: 200px;
  max-width: 430px;
  line-height: normal;
}
.emptycartwish {
  padding: 50px 0 0;
  color: #000;
}
.success {
  color: #51cccc !important;
}
.sticky::-webkit-scrollbar {
  display: none;
}
.sticky::-webkit-scrollbar-thumb {
  background: #afafb4;
  border-radius: 12px;
}
.sticky::-webkit-scrollbar-thumb:hover {
  background: var(--bs-btn-bg);
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  max-height: calc(100vh - 100px);
  overflow: auto;
  top: 79px;
  transition: top 0.5s ease-out 0s;
}
.sticky .box h4 {
  line-height: normal;
  color: rgba(45, 45, 45, 0.5);
  font-family: montserrat, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 8px 0 0;
  font-weight: 800;
  letter-spacing: 2px;
}
.sticky .box button {
  padding: 16px 0 18px;
  text-transform: capitalize;
  text-align: left;
  background: transparent;
  border: none;
}
.sticky .box button span {
  display: block;
  float: left;
}
.collapseBtn {
  text-transform: capitalize;
  font-size: 12px;
  color: rgba(45, 45, 45, 0.7);
  font-family: montserrat, sans-serif;
  transition: all 0.2s ease-in 0s;
  padding: 7px 10px;
  display: block;
  line-height: 1.42857143;
  width: 100%;
  text-decoration: none !important;
  font-weight: 500;
  letter-spacing: 0.27px;
}
.listType {
  list-style-type: none;
}
.collapseBtn:hover {
  background-color: #f7f7f7;
  color: #2d2d2d;
}
.filterHeading {
  padding: 12px 0;
  border: none;
}
.product-sidebar {
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}
.product-sidebar-div {
  width: 292.5px;
  max-height: calc(100vh - 100px);
  overflow: auto;
  position: fixed;
  top: 79px;
  transition: top 0.5s ease-out 0s;
  bottom: initial;
}

.container .card .img8x {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.container .card .img8x img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s, ease-in-out;
}

.container .card:hover .img8x img {
  transform: scale(1.5);
  object-fit: contain;
}

.action {
  position: absolute;
  top: 10px;
  right: 10px;
}

.action li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  cursor: pointer;
  transition: transform 0.5%;
  transform: translateX(60px);
}

.action li:nth-child(2) {
  transition-delay: 0.15s;
}

.action li:nth-child(3) {
  transition-delay: 0.3s;
}

.container .card:hover .action li {
  transform: translateX(8px);
}

.action li:hover {
  background: #ff2020;
  color: #fff;
}

.action li span {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%) translateX(-20px);
  white-space: nowrap;
  padding: 4px 6px;
  background: #fff;
  color: #333;
  font-weight: 500;
  font-size: 12px;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}

.action li:hover span {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
}

.action li span::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
}

.container .card .content .productName h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 5px 0;
}

.container .card .content .price_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .card .content .price_rating h2 {
  font-size: 20px;
  color: #ff2020;
  font-weight: 500;
}

.container .card .content .price_rating .fa {
  color: #ffd513;
  cursor: pointer;
}

.container .card .content .price_rating .fa.grey {
  color: #dcdcdc;
}
.options {
  float: left;
  /* margin-right: 30px; */
  position: relative;
  padding: 30px 20px;
  width: 20%;
}

.options:after {
  content: '';
  background-color: #979797;
  width: 1px;
  height: 64px;
  opacity: 0.24;
  position: absolute;
  right: 0;
  top: 30px;
}
.myOptions .options:last-child:after {
  background-color: transparent;
}
.options > a {
  display: block;
  text-decoration: none;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .options a {
    padding: 20px 0;
  }
  .optionRow .myOptions {
    border: none !important;
  }
  .options:after {
    content: none;
  }
  .options {
    width: 100%;
    margin: 0;
    float: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 0;
  }
}
.options > a > .optionHead {
  font-family: montserrat, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #181818;
  margin: 0;
  font-weight: 500;
  display: inline-block;
}
.options > a > i {
  font-size: 14px;
  color: #979797;
  padding-left: 10px;
}
.options > a > .des {
  opacity: 0.7;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  color: #181818;
  margin: 10px 0 0;
  display: block;
  /* padding-right: 15px; */
}
.bakToMyorder a {
  float: left;
  text-decoration: none;
  width: 100%;
  letter-spacing: 0.2px;
  color: #51cccc;
  font-family: montserrat, sans-serif;
  font-size: 1em;
}
.paymentImage {
  width: 45px;
  margin-right: 10px;
}
.paymentImage img {
  width: 100%;
  vertical-align: middle;
}
.paymentCard span {
  font-size: 14px;
  font-family: montserrat, sans-serif;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.paymentCard p {
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.51);
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-size: 100%;
}
/* a:hover {
  color: #eaf6f6;
}
.navbar-brand {
  font-family: Stencil Std, fantasy;
  font-size: xx-large;
} */

/* .navbar-nav {
  font-variant-position: normal;
  padding-right: 5rem !important;
  padding-left: 27rem !important;
  padding-bottom: 0.5rem;
  width: 600px;
} */
